.main-content {
  width: 80%;
  margin: auto;
}

.main-content-header {
  font-size: 24px;
  font-weight: 500;
  padding: 20px 0px;
}

.card_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-container {
  margin-top: 50px;
}